<%= form_for(@bodydatum) do |f| %>
  <% if @bodydatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bodydatum.errors.count, "error") %> prohibited this bodydatum from being saved:</h2>

      <ul>
      <% @bodydatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :"身長（小数点2桁まで）" %><br>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :"体重（小数点1桁まで）" %><br>
    <%= f.text_field :weight %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
