<h1>Listing bodydata</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>身長</th>
      <th>体重</th>
    </tr>
  </thead>

  <tbody>
    <% @bodydata.each do |bodydatum| %>
      <tr>
        <td><abbr title = "身長:<%= number_with_precision(bodydatum.height, precision: 2) %>・体重:<%= number_with_precision(bodydatum.weight, precision: 1) %>"><%= bodydatum.name %></abbr></td>
        <td><%= number_with_precision(bodydatum.height, precision: 2) %></td>
        <td><%= number_with_precision(bodydatum.weight, precision: 1) %></td>
        <td><%= link_to '詳細', bodydatum, :title => "サンプル" %></td>
        <td><%= link_to '変更', edit_bodydatum_path(bodydatum) %></td>
        <td><%= link_to '削除', bodydatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_bodydatum_path %>
