<p id="notice"><%= notice %></p>

<p>
  <strong>身長:</strong>
  <%= number_with_precision(@bodydatum.height, precision: 2) %>
</p>

<p>
  <strong>体重:</strong>
  <%= number_with_precision(@bodydatum.weight, precision: 1) %>
</p>

<%= link_to 'Edit', edit_bodydatum_path(@bodydatum) %> |
<%= link_to 'Back', bodydata_path %>
