<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @bodydatum.weight %>
</p>

<p>
  <strong>:</strong>
  <%= @bodydatum. %>
</p>

<p>
  <strong>Height:</strong>
  <%= @bodydatum.height %>
</p>

<p>
  <strong>:</strong>
  <%= @bodydatum. %>
</p>

<%= link_to 'Edit', edit_bodydatum_path(@bodydatum) %> |
<%= link_to 'Back', bodydata_path %>
